:root {
  --rojo: #e50914;
  --fondo: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--fondo);
  font-family: "Open Sans", sans-serif;
}

header {
  padding: 30px 0;
  padding-bottom: 15px;
  color: white;
}

.contenedor {
  width: 90%;
  margin: auto;
}

header .contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center; /*alinea los elementos de forma vertical*/
}

header .logo {
  font-family: "Bebas Neue", cursive;
  font-weight: normal; /* al estar dentro de un h2 x defecto esta en negritas*/
  color: var(--rojo);
  font-size: 40px;
}

header nav a {
  color: #aaa;
  text-decoration: none;
  margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
  color: #fff;
}

/***********************************Pelicula Principal*******************************/
.pelicula-principal {
  font-size: 16px;
  min-height: 34.37em; /*40.65*16*/
  color: white;

  background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%),
    url(../img/jumanji.jpg);
  background-position: center center;
  background-size: cover;
  margin-bottom: 3.12em;
  display: flex;
  align-items: flex-end;
}

.pelicula-principal .contenedor {
  margin: 0 auto;
  margin-bottom: 3.25em;
}

.pelicula-principal .titulo {
  font-weight: 600;
  font-size: 3.12em;
  margin-bottom: 0.4em;
}

.pelicula-principal .descripcion {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  max-width: 60%;
  margin-bottom: 1.25em;
}

.pelicula-principal .boton {
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 0.31em;
  padding: 0.93em 1.87em;
  color: #fff;
  margin-right: 1.25em; /*20px*/
  cursor: pointer;
  transition: 0.3s ease all;
  font-size: 1.12em;
}

.pelicula-principal .boton:hover {
  background: #fff;
  color: #000;
}

.pelicula-principal .boton i {
  margin-right: 1.25em;
}

/*--------------contenedor titulo y controles ---------------------*/

.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: red;
  cursor: pointer;
}

/*---------------contenedor principal y flechas -------------------*/

.peliculas-recomendadas {
  margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 40px;
  height: 50%;
  top: calc(50%-25%);
  line-height: 40px;
  width: 50px;
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
  background: rgba(0, 0, 0, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
  left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
  right: 0;
}

.flecha-izquierda:focus,
.flecha-derecha:focus {
  outline: none;
}

/*----------carousel----------------------*/
.peliculas-recomendadas .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
  display: flex;
  flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
  min-width: 20%; /*ancho minimo para que entren 5 peliculas*/
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
  transform: scale(1.2);
  transform-origin: center; /*la transformacion va a ser desde el centro*/
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
  width: 100%;
  vertical-align: top;
}
